/* Welcome to multikart bar */
.welcomebar {
    background-color: #f8f8f8;
    padding: 5px;
}

.welcomebartext {
    display: flex;
    padding: 5px;
    margin-left: 9.5%;
}

.welcomebartext > p {
    margin-right: 40px;
    color: #999999;
}

/* End of welcome tab */



/* Start of nav bar */
.fa-bars {
    font-size: 30px;
    padding-right: 60px;
    padding-top: 38px;
    float: left;
}

.navcontainer {
    width: 80%;
    margin: 0 auto; /* Center the nav bar */
}

header {
    background: white;
    overflow: hidden; /* Add overflow to clear floats */
}

.logo {
    float: left;
    padding: 35px 0;
    margin-right: 70px;
}

.nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 40px;
    padding-top: 48px;
    position: relative;
}

nav a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: black;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: black;
    position: absolute;
    top: 30px;
    width: 0%;
    transition: all ease-in-out 150ms;
}

nav a:hover::before {
    width: 100%;
}
.shopdropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* Moved the shopdropdown styles here */
nav ul li:hover > ul.shopdropdown {
    display: block;
    position: absolute; /* Change from relative to absolute */
    top: 100%; /* Position dropdown below parent */
    left: 0; /* Align dropdown with parent */
}

nav ul li ul.shopdropdown {
    width: 80%; /* Changed from 100% */
    display: none;
}


/* End of nav bar */



/* First Slider */
html, body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    background: #eee;
    background-color: white;
}

swiper-container {
    width: 100%;
    height: 70%;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide1, .slide2 {
    background-size: cover;
}

.slide1 {
    background-image: url(/Images/Slide1.jpg);
}

.slide2 {
    background-image: url(/Images/Slide2.jpg);
}

.slide1text {
    border: 2px solid #f8f8f8;
    width: max-content;
    text-align: center;
    margin-top: 100px;
    margin-left: 9.5%;
}

.slide1text1 {
    font-size: 20px;
    margin-bottom: 15px;
}

.slide1text2 {
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.shopnow {
    background-color: red;
    border: 2px solid red;
    border-radius: 10px;
    text-align: center;
    color: white;
    margin-left: 130px;
    margin-right: 130px;
    top: 0;
    text-transform: uppercase;
}

.shopnow:hover {
    box-shadow: inset 400px 50px 0 0 white;
    color: black;
    -webkit-transition: ease-in-out 0.4s;
    -moz-transition: ease-in-out 0.4s;
    transition: ease-in-out 0.4s;
}

/* End of first slider */



/* Discount Section */
.discount {
    margin-top: 50px;
    display: flex;
    position: relative;
    text-align: center;
    color: red;
}

.discountimg1 > img{
    transition: 0.5s all ease-in-out;
    overflow: hidden;
    width: 80%;
    height: 100%;
    margin-left: 70px;
}

.discountimg1 > img:hover{
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.discountimg2 > img{
    transition: 0.5s all ease-in-out;
    overflow: hidden;
    margin-left: -10px;
    width: 90%;
    height: 100%;
}

.discountimg2 > img:hover{
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.dicounttext1 {
    position: absolute;
    top: 82px;
    left: 35%;
}

.dicounttext1 > p{
    font-size: 20px;
    margin-bottom: 0%;
}

.dicounttext1 > h2{
    margin-top: 0;
    font-size: 50px;
    color: black;
}

.dicounttext2 {
    position: absolute;
    top: 82px;
    right: 7%;
}

.dicounttext2 > p{
    font-size: 20px;
    margin-bottom: 0%;
}

.dicounttext2 > h2{
    margin-top: 0;
    font-size: 50px;
    color: black;
}
/* End of discount Section */




/* Special offer Section */

.topics{
    text-align: center;
    margin-top: 50px;
}

.redtopic{
    color: red;
    font-size: 18px;
    margin-bottom: 0%;
}

.blacktopic{
    color: black;
    font-size: 35px;
    margin-top: 5px;
    margin-bottom: 0%;
}

.redhr{
    content: '';
    display: block;
    border-bottom: 2px solid red;
    margin-top: 5px;
    width: 5%;
    margin-left: auto;
    margin-right: auto;
}

.description{
    text-align: center;
    color: #999999;
}

.p1{
    margin-bottom: 0;
}

.p2{
    margin-top: 5px;
    margin-bottom: 20px;
}

.products-container {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next line if needed */
}

.image-wrapper {
    display: inline-block;
    margin-left: 120px;
    vertical-align: top;
    margin-bottom: 20px;
}


.image-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 300px; /* Adjust width if needed */
    height: 500px; /* Adjust height if needed */
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
}

.new-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align items to the right */
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.overlay-content {
    color: #ffffff; /* White text color for contrast */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align buttons to the right */
    padding: 10px;
}

.overlay-content button {
    padding: 10px 20px;
    background-color: transparent;
    color: #999999;
    border: 1px solid #f8f8f8;
    cursor: pointer;
    margin: 5px;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.5s ease-in-out, background-color 0.2s; /* Transition opacity for animation */
}

.overlay-content button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.overlay.active {
    opacity: 1;
}

.overlay.active .overlay-content button {
    opacity: 1; /* Show buttons */
}

.rating-text-container {
    text-align: left;
    width: 300px; /* Match the width of the image container */
    padding: 5px;
}

.rating {
    display: flex;
    justify-content: flex-start; /* Align the rating to the left */
}

.rating .fa-star {
    color: #ffd700; /* Gold color for stars */
    margin: 0 2px;
}

.product-name {
margin-top: 5px;    font-size: 16px;
    color: #999999;
    /* padding: 5px; */
}

.price {
    margin-top: 2px;
    font-size: 16px;
    color: #333;
}

.current-price {
    color: #333333; /* Red color for the current price */
    font-weight: bold;
    margin-right: 5px;
}

.original-price {
    text-decoration: line-through;
    color: #999999; /* Gray color for the original price */
}

.photo-switch {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #888; /* Default circle color */
    cursor: pointer;
    transition: background-color 0.3s;
}

.circle:hover, .circle.active {
    background-color: #333; /* Active or hover circle color */
}


/* End of Special offer Section  */

/* Fashion Trends */


.fashiontrends{
    background-image: url(/Images/Fashion\ Trends\ background\ image.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding: 5%;
}

.fttextcontainer{
    margin-left: -50%;
    text-align: center;
}

.fttext1{
    font-size: 100px;
    color: red;
    margin-bottom: 0;
}

.fttext2{
    font-size: 60px;
    margin-top: 0;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 0;
}

.fttext3{
    font-size: 30px;
    color: #777777;
    text-transform: uppercase;
    margin-top: 10px;
}


/* End of Fashion trends */




/* Start of Products  */

.titles {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.title {
    margin: 0 20px;
    cursor: pointer;
    padding: 10px 20px;
    transition: color 0.3s;
}

.title.active {
    color: red;
}

.products-container {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
    margin: 20px;
}

.image-wrapper {
    display: inline-block;
    margin: 10px;
    vertical-align: top;
    width: calc(25% - 20px); /* Adjust width for four items per row, with margin */
}

@media (max-width: 1024px) {
    .image-wrapper {
        width: calc(33.333% - 20px); /* Three items per row on medium screens */
    }
}

@media (max-width: 768px) {
    .image-wrapper {
        width: calc(50% - 20px); /* Two items per row on small screens */
    }
}

@media (max-width: 480px) {
    .image-wrapper {
        width: calc(100% - 20px); /* One item per row on extra small screens */
    }
}


/* End of products  */


/* our collection style  */


.collection-section {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-left: 110px;
    margin-right: 110px;
}

.collection-wrapper {
    position: relative;
    width: 30%;
}

.collection-container {
    position: relative;
    overflow: hidden;
}

.main-collection {
    width: 100%;
    display: block;
}

.red-film {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s;
}

.collection-container:hover .red-film {
    opacity: 1;
    animation: pixelate 1s forwards;
}

@keyframes pixelate {
    0% {
        filter: url("#displacementFilter");
    }
    100% {
        filter: none;
    }
}

.topics2{
    text-align: center;
}

.redtopic2{
    color: red;
    font-size: 18px;
    margin-bottom: 0%;
}

.blacktopic2{
    color: black;
    font-size: 20px;
    margin-top: 2px;
    margin-bottom: 0%;
    text-transform: uppercase;
}

.redhr2{
    content: '';
    display: block;
    border-bottom: 2px solid red;
    margin-top: 5px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/* end of our collection style  */



/* Description */
.blackhr{
    content: '';
    border-bottom: 1px solid #777777;
    display: block;
    margin-top: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.shippingholder{
    display: flex;
}

.shippingdescription{
    padding: 20px;
    margin-right: 60px;
}

.freeshipping{
    margin-left: 170px;
    margin-top: 50px;
}

.fa-truck {
    color: red;
    font-size: 50px;
    margin-right: 10px;
}

.fa-clock-o, .fa-bullhorn{
    color: red;
    font-size: 50px;
    margin-top: 15px;
    margin-right: 10px;
}

.faheader{
    display: flex;
    color: black;
    transition: transform 0.5s ease-out;
}

.headertext1{
    margin-top: -3px;
}

.headertext2{
    margin-left: 73px;
    margin-top: -20px;
    color: #777777;
}

.faheader:hover{
    transform: translateY(-10px);
    animation: bounce 1s ease forwards;
}

.faheader > .headertext1:hover{
    color: red;
}

.faheader > .headertext3:hover{
    color: red;
}


@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

.horizontalhr {
    border-left: 1px solid #777777;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.servicedecription{
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
}

.headertext4{
    margin-left: 60px;
    margin-top: -15px;
    color: #777777;
}
/* Description End */


/* Instagram section  */


.insta{
    font-size: 40px;
    text-align: center;
    color: #000;
    margin-top: 60px;
}


.instagram-section {
    display: flex;
    margin-top: 20px;
}

.instagram-wrapper {
    position: relative;
}

.instagram-container {
    position: relative;
    overflow: hidden;
}

.main-instagram {
    width: 100%;
    display: block;
}

.instagram-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instagram-logo {
    font-size: 50px;
    color: white;
    transform: scale(0);
    transition: transform 0.5s;
}
/* End of instagram section  */


/* logos opacity */
.logos-section{
    display: flex;
    justify-content: space-between;
    margin-left: 110px;
    margin-right: 110px;
    margin-top: 100px;
}

.logos-conatainer{
    height: max-content;
    width: max-content;
}

.logos-image {
    opacity: 0.5;
}
  
.logos-image:hover {
    opacity: 1.0;
}
/* logos opacity end  */



/* Footer Styles */

footer {
    margin-top: 70px;
    background-color: #ddd;
    color: #000;
    padding: 20px 0;
}

.know-container{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
}

.know-wrapper{
    margin-left: 150px;
}

.horizontalhr2 {
    border-left: 1px solid #777777;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}


.form{
    margin-top: 30px;
    display: flex;
    margin-right: 30px;
}


.form input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.form button {
    padding: 10px 20px;
    background-color: #f00;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logo2{
    margin-top: 15px;
}

.footer-inner {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1700px;
    margin-left: 110px;
}

.footer-section {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.footer-section h2 {
    font-size: 20px;
    margin-bottom: 10px;
}


.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #000;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #000;
}

.footer-social {
    margin-top: 70px;
    justify-content: space-between;
}

.footer-social a {
    color: #000;
    margin-right: 10px;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s;
}


.logo {
    max-width: 150px;
    margin-bottom: 20px;
}

.final{
    margin: 20px;
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
}

.powered{
    margin-left: 90px;
    color: #999999;
}

@media (max-width: 768px) {
    .footer-inner {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        max-width: 100%;
        text-align: center;
    }

    .footer-section ul {
        text-align: center;
    }

    .footer-section ul li {
        display: inline-block;
        margin: 0 10px;
    }

    .footer-section ul li a {
        display: inline-block;
        padding: 5px 0;
    }
}


























/* Responsive Styles */
@media screen and (max-width: 1000px) {
    .navcontainer {
        width: 90%; /* Adjust width for smaller screens */
    }

    .logo {
        margin-right: 0; /* Remove right margin for logo */
    }

    nav li {
        margin-left: 20px; /* Reduce left margin for nav items */
    }

    .welcomebartext {
        margin-left: 0; /* Reset margin for welcome text */
    }

    .welcomebartext > p {
        margin-right: 20px; /* Reduce right margin for welcome text */
    }

    .slide1text {
        margin-left: 5%; /* Adjust left margin for slider text */
    }

    .shopnow {
        margin-left: 50px; /* Adjust left margin for shop now button */
        margin-right: 50px; /* Adjust right margin for shop now button */
    }

    .discountimg1 > img,
    .discountimg2 > img {
        width: 100%; /* Make discount images full width on smaller screens */
    }

    .dicounttext1,
    .dicounttext2 {
        left: 10%; /* Adjust left position for discount text */
    }

    .footer-inner {
        padding: 0 20px; /* Add padding to footer inner on smaller screens */
    }
}

@media (max-width: 1024px) {
    .image-wrapper {
        width: calc(50% - 20px); /* Two items per row on medium screens */
    }
}

@media (max-width: 768px) {
    .image-wrapper {
        width: calc(100% - 20px); /* One item per row on small screens */
    }
}